{% extends 'base.html' %}

{% block head %}

{% endblock %}

{% block content %}
<div class="content-bs">
<h1>Businesses in Jamii Area</h1>
{% for business in businesses%}
<div class="jumbotron">
<h3><a href="{{ url_for('single_business', business_id = business.id) }}">Business Name: {{ business.name }}</a></h3><br>
<h3>Owned by: {{ business.owner.username }}</h3><br>
<h3>Located at: {{ business.location }}</h3><br>
<h3>Started operating on: {{ business.started.strftime('%d-%m-%Y') }}</h3><br>
<h4 class="below-desc">Description about the business: {{ business.business_description }}</h4><br>
</div>
{% endfor %}
</div>
{% endblock %}
